CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
lib
build
bin
html
CMakeDoxyFile.in
CMakeDoxygenDefaults.cmake
.vscode
CMakeDoxyfile.in
Doxyfile.docs
docs/man
